@using System.Linq;

@{
    ViewData["Title"] = "Index";
}


@if (ViewBag.HaveData)
{

    <table>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Activo</td>
        </tr>



        @foreach (var person in ViewBag.PersonList)
        {
            <tr>

                <td>@person.Name</td>
                <td>@person.LastName</td>
                <td>@person.IsActive</td>

            </tr>


        }


    </table>


}
else
{
    <h1> no tiene info </h1>
}

<form action="/Client/Add" method="post">
    
    <label for="PersonName"> Nombre </label>
    <input id="PersonName" type="text" name="Name" />
    
    <label for="LastName"> Apellido </label>
    <input id="LastName" type="text" name="LastName" />
    
    <label > esta ativo? </label>
    <input  type="radio" value="true" name="IsActive"/> Si
    <input  type="radio" value="false" name="IsActive"/> No 
    
    <button type="submit"> Enviar </button>

</form>











