<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form action="/Calculadora/Calcular" method="post">

        <label for="Num1">Numero 1</label>
        <input id="Num1" type="number" name="numero1" value="" />

        <label for="Num2">Numero 2</label>
        <input id="Num2" type="number" name="numero2" value="" />

        <button type="submit">Calcular</button>
        <button type="reset">Limpiar</button>

    </form>  
</div>
</body>
</html>