

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div>

        @for (int i = 1; i <= 10; i++)
        {
            <div class="div-numero">
                @i
            </div>
        }

    </div>
</body>
</html>